<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="form-container">
        <form id="scoreForm">
            <h1> Score Predictor </h1>
            <div>
                <label for="country1">Batting Team:</label>
                <select id="country1" name="country1">
                </select>
            </div>
            <div>
                <label for="country2">Bowling Team:</label>
                <select id="country2" name="country2">
                </select>
            </div>
            <div>
                <label for="select-city">Select City:</label>
                <select id="select-city" name="select-city">
                </select>
            </div>
            <div>
                <label for="score">Score:</label>
                <input type="text" id="score" name="score">
            </div>
            <div>
                <label for="overs">Overs completed:</label>
                <input type="text" id="overs" name="overs">
            </div>
            <div>
                <label for="wickets">Wickets remaining:</label>
                <input type="text" id="wickets" name="wickets">
            </div>
            <div>
                <label for="runs">Runs in last 5 overs:</label>
                <input type="text" id="runs" name="runs">
            </div>
            <div class="submit-container">
                <button type="submit">Predict</button>
            </div>
            <div id="output"></div>
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
